.homecontainer{
  width: 1247px;
  letter-spacing: 0px;
  color: #FFFFFF; 
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;  
}