
.recipe-table{
  width:100%;
  box-sizing: border-box;
  border:white;
  border-collapse: collapse;
  text-align: left;
  font: normal normal 16px/21px Roboto;
  margin-bottom: 113px;
}

.recipe-table td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

.recipe-table th {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
}

.recipe-table-header{
  font:bold;
}

.recipe-table-row{
  background-color: white;
  height: 61px;
  margin: 20px;
}
.spacer{
  height:5px;
}

.table-column1, .table-column2{
  width: auto;
}
.table-column1 p{
  font-weight: bold;
}

.table-column3{
  width: 40%;
}

.table-column4, .table-column5{
  width: 5%;
}

